*{
    padding: 0;
    margin: 0;
    font-family: 'mulish', sans-serif;
    text-decoration: none;
    font-size: 100%;
}

.sectionProduits{
    display: flex;
    box-sizing: border-box;
}

.colRight{
    width: 40%;
    padding: 2%;
}

.colLeft{
    /* width: 75%; */
    padding: 2%;
}

.cardProduits{
    display: flex;
    padding: 1%;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(19, 18, 18, 0.308);
}

.leftcard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.btncardproduits{
    color: white;
    background: #22BA00;
    display: -webkit-box;
    width: fit-content;
    padding: 1% 20%;
    border-radius: 50px;
}

.titleCardProduitstxt{
    font-size: 200%;
    font-weight: bolder;
}

.addPoducts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #0006;
}

.titleaddProducts{
    text-align: center;
}

.choisirProduit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0;
    border-radius: 50px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.185);
}

.rowaddProducts{
    display: flex;
    padding: 5%;
    /* border: 1px solid black; */
    border-radius: 50px;
    justify-content: space-between;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.404);
}

.formroupaddProducts{
    padding: 5%;
    box-shadow: 2px 5px 16px 0px #0000002f;
    border-radius: 20px;
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titleProduits{
    color: #22BA00;
    font-weight: bolder;
}

.btnPlus{
    border-radius: 100px;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #22ba00;
}

.datecontainer{
    padding: 2%;
}

.dateaddproducts{
    text-align: right;
}

.calendrier{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendrier input{
    color: white;
    background: black;
    border: none;
    padding: 2%;
}

.confirmation{
    text-align: center;
    margin: 10px auto;
    display: block;
    padding: 2% 5%;
    color: white;
    background: #22ba00;
    border-radius: 20px;
}

.mtb{
    margin: 5px 0;
}

.ptb{
    padding: 2%;
}